body {
    background-color: #c3ffc4;
}

h1 {
    color: #7ab97d;
}

h2 {
    color: #92d095;
}

#principal {
    text-align: center;
    background-color: #61a165;
    color: #ffffff;
}

.basico {
    color: #b74d90;
    font-weight: bold;
}

.intermediario {
    color: #3dc6f3;
}

.avancado {
    color: #2a0e46;
}

.destaque {
    background-color: #c17e41;
}